@import "variables";

#footer{
    text-align: center;
    color: $text-color-3;
    padding: 40px 0 40px;
    font-size: $small;
    p{
        font-size: $small;

    }
    a{
        color: $text-color-3;
        text-decoration: none;
    }
    #policies{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
        a{
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
    #social-links{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
            }
        }
    }

   
}