@import "header.scss";

#header{
    box-shadow: none;
    
}


@media screen and (min-width: 1024px){
    #header{
        background-color: none;
        padding: 0;
        position: relative;
        width: 55%;
        font-size: $small-desktop;
        .nav-menu{
            background-color: transparent;
            transform: translateX(0);
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 $side-spaces;
            height: auto;
            // width: 50%;
            // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            nav{
                margin: 0;
    
            }
            nav ul{
                display: flex;
                justify-content: space-between;
                gap: 16px;
            }
            #close-btn{
                display: none;
            }
       }
    }
}
