@import "header.scss";

#header{
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
@media screen and (min-width: 1024px){
    #header{
        padding: 0;
        height: 13%;
        width: 55%;
        box-shadow: none;
        transition: .3s all ease-in-out;
    }
    #menu-bar{
        width: 100%;
        height: 100%;
    }
   #logo-home{
        display: none;
   }
   #menu-humb{
        display: none;
   }
   .nav-menu{
        background-color: transparent;
        transform: translateX(0);
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 $side-spaces;
        height: 100%;
        nav{
            margin: 0;
            height: 100%;
        }
        nav ul{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            align-items: center;
            height: 100%;
            li{
                height: 100%;
                display: flex;
                flex-direction: column;

                a{
                    flex: 1;
                    padding: 0 16px;
                    // height: 97%;
                }
                .bottom-line{
                    
                    height: 4%;
                    background-color: $text-color-2;
                    width: 100%;
                    margin: 0;
                    transform: scaleX(0%);
                    transition: .3s all ease-in-out;
                }
                &:hover{
                    a{
                        transition: .3s all ease-out;
                        color: $text-color-4;
                    }
                }&:hover .bottom-line{
                    transform: scaleX(100%);
                }
                &:active{
                    background-color: $text-color-2;
                    // a{
                    //     color: $primary-color;
                    // }
                }
            }
        }
        #close-btn{
            display: none;
        }
   }
}